---
import Layout from "@layouts/Layout.astro";
import Hero from "@organisms/Hero.astro";
import EventDetails from "@organisms/EventDetails.astro";
import RsvpForm from "@organisms/RsvpForm.astro";
import Details from "@organisms/Details.astro";
import CalendarLinks from "@molecules/CalendarLinks.astro";
import Contact from "@organisms/Contact.astro";
import StickyRsvp from "@molecules/StickyRsvp.astro";
---

<Layout>
    <main>
        <Hero />

        <EventDetails />

        <RsvpForm />

        <Details />

        <CalendarLinks />

        <Contact />
    </main>

    <StickyRsvp />
</Layout>
