---
import Layout from "@layouts/Layout.astro";
import Hero from "@organisms/Hero.astro";
import Countdown from "@molecules/Countdown.astro";
import EventDetails from "@organisms/EventDetails.astro";
import RsvpForm from "@organisms/RsvpForm.astro";
import Details from "@organisms/Details.astro";
import CalendarLinks from "@molecules/CalendarLinks.astro";
import Contact from "@organisms/Contact.astro";
import StickyRsvp from "@molecules/StickyRsvp.astro";
---

<Layout>
  <main>
    <Hero />

    <Countdown />

    <div class="section-divider" aria-hidden="true"></div>

    <EventDetails />

    <RsvpForm />

    <div class="section-divider" aria-hidden="true"></div>

    <Details />

    <CalendarLinks />

    <div class="section-divider" aria-hidden="true"></div>

    <Contact />
  </main>

  <StickyRsvp />
</Layout>
