---
import Layout from "@layouts/Layout.astro";
import Hero from "@organisms/Hero.astro";
import EventDetails from "@organisms/EventDetails.astro";
import RsvpForm from "@organisms/RsvpForm.astro";
import Details from "@organisms/Details.astro";
import Contact from "@organisms/Contact.astro";
import StickyRsvp from "@molecules/StickyRsvp.astro";
import DateAndTime from "@/components/organisms/DateAndTime.astro";
import BackgroundGingham from "@/components/molecules/BackgroundGingham.astro";
---

<Layout>
    <BackgroundGingham />

    <main>
        <Hero />
        <DateAndTime />
        <EventDetails />
        <Details />
        <RsvpForm />
        <Contact />
    </main>
    <StickyRsvp />
</Layout>
